<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Css/KinMai.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700;900&family=Prompt:wght@400;500;600;700&display=swap">
    <!--CSS-->
</head>

<body style="background-color: #FAFAFA;">
    <div class="body-background">
        <table class="">
            <thead>
                <tr>
                    <td>
                        <div class="content-body">
                            <table class="card-table" style="width: 100%;">
                                <tr>
                                    <div class="head-logo p-15 flex-center">
                                        <img class="kinmai-logo mb-2" width="150px"
                                             src="https://kinmai.s3.ap-southeast-1.amazonaws.com/kinmai-logo.png" />
                                    </div>
                                </tr>

                                <tr>
                                    <td style="background-color: white; padding: 10px;">
                                        <h4 class="text-center">
                                            Someone requested that the password<br>be reset for the following account
                                        </h4>

                                        <p class="">กรุณาคลิกปุ่ม เปลี่ยนรหัสผ่าน เพื่อเปลี่ยนรหัสผ่านด้วยตัวเอง</p>

                                        <div class="text-center mb-2">
                                            <a href="{ResetPassLink}" class="link text-center">
                                                <span class="btn-reset detail-12px">
                                                    <span style="font-size:15px;">เปลี่ยนรหัสผ่าน</span>
                                                </span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>