<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Css/KinMai.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700;900&family=Prompt:wght@400;500;600;700&display=swap">
    <!--CSS-->
</head>

<body>
    <div class="body-background">
        <table class="">
            <thead>
                <tr>
                    <td>
                        <div class="content-body">
                            <table class="card-table">
                                <tr>
                                    <td align="center">
                                        <img class="kinmai-logo my-3" width="135"
                                                src="https://kinmai.s3.ap-southeast-1.amazonaws.com/kinmai-logo.png" />
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center">
                                        <div align="center" class="body-container">
                                            <p class="my-2">คุณได้ทำการแจ้งลืมรหัสผ่าน</p>

                                            <p class="my-2">โปรดคลิกปุ่มเปลี่ยนรหัสผ่านเพื่อตั้งรหัสผ่านใหม่</p>

                                            <p class="mb-4">Please click the botton below to set new password</p>

                                            <div class="text-center mb-4">
                                                <a href="{ResetPasswordLink}" class="link text-center">
                                                    <span class="btn-reset detail-12px">
                                                        <span style="font-size:15px;">เปลี่ยนรหัสผ่าน</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</body>

</html>